* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    margin: 0;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gamebox {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.canvasflexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.statlist {
    position: absolute;
    list-style: none;
    left: 100px;
    top: 100px;
}

.penguin {
    display:none;
    border: 3px solid red;
    height: 100px;
    width: 50px;
    object-fit:cover;
}

.fish {
    display:none;
    border: 3px solid red;
    height: 50px;
    width: 100px;
    object-fit:cover;
}
